<h1>LCBO</h1>
<%= link_to "All Stores", stores_path %>

<h2>Products</h2>
<table>
<% @products['result'].sort{|a,b| a['name'] <=> b['name']}.each do |product| %>
  <section>
  <tr>
    <td><%= link_to product['name'], product_path(product['id']) %></td>
    <td>  $<%= format_price product['price_in_cents'] %></td>
    <td>  <%= product['primary_category'] %></td>
     <td>  <%= link_to "Check Inventory", inventory_path(product['id']) %></td>
    </tr>
  </section>
 <% end %>
  </table>
